<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
<header>
  <a class="home" href="/">
    <h1 class="atm-text">Banking System</h1>
  </a>
</header>

<main class="login-container">
  <h1 class="atm-text">Login</h1>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="accountname" placeholder="Account Name" required>
    <button type="submit" class="atm-text">Login</button>
  </form>
</main>

</body>
</html>
